<%- include('../../partials/head.ejs')%>

<div class="container card card-body default-height">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3 class="text-center display-7">Login Here</h3>
          <form action="/auth/login" method="POST"> 
            <div class="form-group">
              <label htmlFor="email"> Email: </label>
              <input
                type="email"
                class="form-control <%= error.email ? 'is-invalid' : '' %>"
                placeholder="Enter Your Email"
                name="email"
                id="email"
              />
              <div class="invalid-feedback">
                <%= error.email && error.email %>
              </div>
             
            </div>
            <div class="form-group">
              <label htmlFor="password"> Password: </label>
              <input
                type="password"
                class="form-control <%= error.password ? 'is-invalid' : '' %>"
                placeholder="Enter Your Password"
                name="password"
                id="password"

              />
              <div class="invalid-feedback">
                <%= error.password && error.password %>
              </div>
            </div>

          
            <a href="/auth/signup">Don't Have an Account? signup Here</a>
            <button class="btn btn-primary my-3 d-block" type="submit">Login</button>
          </form>
        </div>
      </div>
</div>



<%- include('../../partials/footer.ejs') %>
</body>
</html>

