<%- include('../../partials/head.ejs')%>

<div class="container card card-body">
    <div class="row">
        <div class="col-md-6 offset-md-3">
          <h3 class="text-center display-7">Register Here</h3>
          <form action="/auth/signup" method="POST"> 
            <div class="form-group">
              <label htmlFor="name"> Name: </label>
              <input
                type="text"
                class="form-control <%= error.username ? 'is-invalid' : '' %>"
                placeholder="Enter Your Name"
                name="username"
                id="username"
                value= "<%= value.username ? value.username : '' %>"
               
              />
              <div class="invalid-feedback">
                <%= error.username && error.username %>
              </div>
        
            </div>
            <div class="form-group">
              <label htmlFor="email"> Email: </label>
              <input
                type="email"
                class="form-control <%= error.email ? 'is-invalid' : '' %>"
                placeholder="Enter Your Email"
                name="email"
                id="email"
                value= "<%= value.email ? value.email : '' %>"
                
               
              />
              <div class="invalid-feedback">
                <%= error.email && error.email %>
              </div>
             
            </div>
            <div class="form-group">
              <label htmlFor="password"> Password: </label>
              <input
                type="password"
                class="form-control <%= error.password ? 'is-invalid' : '' %>"
                placeholder="Enter Your Password"
                name="password"
                id="password"
                value= "<%= value.password ? value.password : '' %>"

              />
              <div class="invalid-feedback">
                <%= error.password && error.password %>
              </div>
            </div>

            <div class="form-group">
              <label htmlFor="password2">Confirm Password: </label>
              <input
                type="password"
                class="form-control <%= error.confirmpassword ? 'is-invalid' : '' %>"
                placeholder="Enter Your Password"
                name="confirmpassword"
                id="confirmpassword"
        
              />
              <div class="invalid-feedback">
                <%= error.confirmpassword && error.confirmpassword %>
              </div>
            </div>
            <a href="/auth/login">Already Have Account? Login Here</a>
            <button class="btn btn-primary my-3 d-block" type="submit">Register</button>
          </form>
        </div>
      </div>
</div>



<%- include('../../partials/footer.ejs') %>
</body>
</html>

